images/borehole.jpeg
images/hand_pump_diagram.png
images/Number of waterpoints over time.png
images/One hot coding.png
images/R.jpeg
images/smart.gif
images/Water 1jpeg
images/Water quality group vs water point condition.png
images/Waterpoint condition by payment.png


.ipynb_checkpoints
.DS_Store
__pycache__
*.db
*.pytest_cache
